*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

body{
  background-color: grey;
}

.container{
  height: 80vh;
  width: 70vw;
  margin: 5rem auto;
  background-image: url(../forest.jpg);
  background-size: cover;
  position: relative;
  box-shadow: 1px 2px 60px rgba(255, 0, 0, 0.5);
  overflow-x: hidden;
}

.surface{
  height: 300px;
  width: 500%;
  background-image: url(../road.png);
  position: absolute;
  bottom: 0%;
  display: block;
  left: 0%;
  background-repeat: repeat-x;
  animation: moveRight 6s linear infinite;
  animation-delay: 2s;
}

img{
  height: 150px;
}

.car{
  position: absolute;
  bottom: 0%;
  left: 24%;
  animation: suspension 1s linear infinite;
  animation-delay: 2s;
}

@keyframes moveRight {
  100%{
    transform: translateX(-2950px);
  }
}

@keyframes suspension {
  100%{
    transform: translateY(-1px);
  }
  50%{
    transform: translateY(5px);
  }
  0%{
    transform: translateY(-1px);
  }
}

.controls{
  height: 200px;
  width: 250px;
  font-weight: bold;
  color: red;
  padding: 20px;
  font-size: 20px;
  position: absolute;
  top: 80px;
  left: 1000px;
}

@media only screen and (max-width: 1000px){
  body{
    background-color: grey;
  }
  img{
    height: 120px;
  }
  .car{
    position: absolute;
    bottom: 0%;
    left: 15%;
  }
  .container{
    height: 80vh;
    width: 90vw;
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(255, 0, 0, 0.5);
    overflow-x: hidden;
  }
  .surface{
    height: 350px;
    width: 1000%;
    background-repeat: repeat-x;
    bottom: 0%;
  }
  .controls{
    height: 180px;
    width: 180px;
    font-size: 12px;
    top: 80px;
    left: 68%;
  }
  .buttonClass{
    font-size:10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width:140px;
    height:20px;
  }
}

.buttonClass {
  font-size:10px;
  font-family:Arial;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width:140px;
  height:20px;
  border-width:1px;
  color:#fff;
  border-color:#599bb3;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background:linear-gradient(#599bb3, #408c99);
}

.buttonClass:hover {
  background: linear-gradient(#408c99, #599bb3);
}
